<div id="Galerie" class="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 offset-lg-4  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.3s">
        <div class="section-heading">
          <h6>Événements Récents</h6>
          <h4>Consultez Nos Articles De<em> Galerie</em></h4>  
          <div class="line-dec"></div>
        </div>
      </div>
      <div class="col-lg-6 show-up wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
        <div class="blog-post">
          <div class="thumb">
         <!--<iframe src="https://www.youtube.com/embed/KEOtzdJNb-c" frameborder="0" allowfullscreen></iframe>
             <video controls autoplay width="500px" poster="assets/images/event1.png">
              <source src="in locale" type="video/mp4">
            </video>-->
           <img src="assets/images/event1.png" alt="" style="height: 500px;">
          </div>
          <div class="down-content">
            <span class="category">Soft-Skills</span>
            <span class="date"> Mai 2023</span>
            <a>
              <h4>Certifié en Soft-Skills selon le Programme : « Work Readiness » EFE-Maroc Moulay Hfid Benslimane</h4>
            </a>
            <p>Certifié en Soft-Skills selon le Programme : « Work Readiness » EFE-Maroc Moulay Hfid Benslimane.</p>
            <span class="author"><img src="assets/images/profile.png" alt="">By: Mohamed Saïd Bouzerouata</span>
            <div class="border-first-button"><a href="https://www.linkedin.com/posts/mohamed-sa%C3%AFd-bouzerouata-ba8ab0b_certifi%C3%A9-en-soft-skills-selon-le-programme-activity-7061787076500824065-ZN9k?utm_source=share&utm_medium=member_desktop">Consulter le post</a></div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
        <div class="blog-posts">
          <div class="row">
            <div class="col-lg-12" *ngFor="let galerie of galerie">
              <div class="post-item">
                <div class="thumb">
                  <a><img src="{{galerie.imageUrl}}" alt=""></a>
                </div>
                <div class="right-content">
                  <span class="category">{{galerie.title}}</span>
                  <a>
                    <p><br>{{galerie.description}}</p>
                  </a>
                  <p><a href="{{galerie.videoUrl}}">{{galerie.videoUrl}}</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>