<app-headers></app-headers>

<nb-layout>

    <nb-layout-column class="refs">
        <mat-card class="example-card">
            <img mat-card-image src='../../../assets/images/afem.png' alt="Photo of a reference">
            <mat-card-header>
                <mat-card-title>afem</mat-card-title>
                <mat-card-subtitle>Entrepreneuriat féminin</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <mat-card class="example-card">
            <img mat-card-image src='../../../assets/images/pme.png' alt="Photo of a reference">
            <mat-card-header>
                <mat-card-title>Maroc PME</mat-card-title>
                <mat-card-subtitle>Accompagnement entrepreneurial</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <mat-card class="example-card">
            <img mat-card-image src='../../../assets/images/apefe.png' alt="Photo of a reference">
            <mat-card-header>
                <mat-card-title>APEFE Bruxelles</mat-card-title>
                <mat-card-subtitle>Entrepreneuriat féminin</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <mat-card class="example-card">
            <img mat-card-image src='../../../assets/images/es.jpg' alt="Photo of a reference">
            <mat-card-header>
                <mat-card-title>ES Maroc</mat-card-title>
                <mat-card-subtitle>Entrepreneuriat des jeunes</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <mat-card class="example-card">
            <img mat-card-image src='../../../assets/images/iom.png' alt="Photo of a reference">
            <mat-card-header>
                <mat-card-title>OIM Maroc</mat-card-title>
                <mat-card-subtitle>Entrepreneuriat et insertion professionnelle</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <mat-card class="example-card" *ngFor="let ref of references">
            <img mat-card-image [src]="ref.imageUrl" alt="Photo of a reference">
            <mat-card-header>
                <mat-card-title>{{ ref.title }}</mat-card-title>
                <mat-card-subtitle>{{ ref.description }}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>

        <div class="container">
            <div class="row">
                <button type="button" class="btn btn-outline-primary custom-btn" style="width: 250px;" routerLink="/"><i class="bi bi-arrow-return-left"></i> Retour</button>

                <div class="col-lg-12" style="text-align: center;">
                    <br><br>
                    <p><b>D3 SKILLS: Tanger</b> <br> Formation & Conseil & Accompagnement entrepreneurial. <br>© 2023 -
                        All
                        rights
                        reserved. <br><br>
                    </p>
                </div>
                <div class="col-lg-5">
                    <ul class="info">
                        <li><a href="" style="color: rgb(240, 191, 99);"><i class="fa fa-envelope"></i>
                                manager@d3skills.ma</a>
                        </li>
                        <li><a href="" style="color: rgb(240, 191, 99);"><i class="fa fa-phone"></i> 0629928778 /
                                0539341632</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-7">
                    <a href="https://www.facebook.com/d3skills" class="social-icon"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/company/d3-skills" class="social-icon"><i
                            class="fa fa-linkedin"></i></a>
                    <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </nb-layout-column>

</nb-layout>