<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <br><br>
                <p>© D3 SKILLS 2023 - Formation & Conseil et Accompagnement entrepreneurial, basé à Tanger. <br><br>
                  <!-- <br>developed by <a href="https://templatemo.com" target="_parent" title="free css templates">MOHAMMED</a>--> 
                    <a href="https://www.facebook.com/d3skills/" style="padding-right: 20px; color:orange;"><b><i class="fa fa-facebook"></i></b></a>
                    <a href="https://www.linkedin.com/company/d3-skills/" style="padding-right: 20px; color:orange;"><b><i class="fa fa-linkedin"></i></b></a>
                    <a href="#" style="padding-right: 20px; color:orange;"><b><i class="fa fa-twitter"></i></b></a>
                </p>
            </div>
        </div>
    </div>
</footer>