<nb-layout>
  <nb-layout-header>Awesome Company</nb-layout-header>

  <nb-layout-column class="colored-column-basic">
    <h1>D3 SKILLS web app</h1>
    <b>D3 SKILLS est un cabinet de formation et d'accompagnement</b>
    <br>

    <mat-card>
      <mat-card-content>Simple card</mat-card-content>
    </mat-card>

    <br>

    <nb-flip-card style="width: 500px;">
      <nb-card-front>
        <nb-card accent="danger">
          <nb-card-body>
            A nebula is an interstellar cloud of dust, hydrogen,
            helium and other ionized gases.
            Originally, nebula was a name for
            any diffuse astronomical object,
            including galaxies beyond the Milky Way.
          </nb-card-body>
        </nb-card>
      </nb-card-front>
      <nb-card-back>
        <nb-card>
          <nb-card-body>
            A nebula is an interstellar cloud of dust, hydrogen,
            helium and other ionized gases.
            Originally, nebula was a name for
            any diffuse astronomical object,
            including galaxies beyond the Milky Way.
          </nb-card-body>
        </nb-card>
      </nb-card-back>
    </nb-flip-card>

    <router-outlet></router-outlet>

  </nb-layout-column>

  <nb-layout-footer>Contact us</nb-layout-footer>
</nb-layout>