<div id="A Propos" class="about section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-left-image  wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                            <img src="assets/images/about-dec-v3.png" alt="" style="height: 500px; width: 400px;">
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center  wow fadeInRight" data-wow-duration="1s"
                        data-wow-delay="0.5s">
                        <div class="about-right-content">
                            <div class="section-heading">
                                <h6>A Propos</h6>
                                <h4>Qui est <em>D3 SKILLS</em></h4>
                                <div class="line-dec"></div>
                            </div>
                            <br>
                            <p><b>D3 SKILLS</b> est un cabinet de formation et d’accompagnement entrepreneurial, basé à
                                Tanger. <br>
                                <b>D</b>3 SKILLS intervient dans les domaines suivants : <a>la formation</a>, 
                                <a>l’accompagnement entrepreneurial </a> et <a>le montage de
                                    projets.</a> <br>
                                <b>N</b>os consultants ont la capacité de concevoir <a>des solutions</a> de
                                gestion et d’accompagnement innovantes et adaptées aux besoins de nos clients.
                            </p>

                            <div class="progress-container">
                                <div class="progress-section" *ngFor="let stat of statistics">
                                    <div class="progress-circle">
                                        <div class="progress-indicator">{{stat.statistic}}</div>
                                        <p class="indicator-label">{{stat.title}}</p>
                                    </div>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>

                <br><br><br>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
                            <h4>Nos <em>valeurs</em></h4>
                            <div class="line-dec"></div>
                            <p style="text-align: center;">
                                <br><h6>D3 SKILLS, véhicule un ensemble de valeurs partagées qui guident les actions et les
                                comportements de chacun de nos collaborateurs :</h6>
                            </p>
                            <br><br>
                        </div>
                    </div>
                    <section class="cluster" style="display: flex; text-align: center;">
                        <div class="col-lg-3">
                            <nb-flip-card>
                                <nb-card-front>
                                    <nb-card accent="info" status="info">
                                        <nb-card-header
                                            style="background-image: url('../../../assets/images/1.png'); background-size: 100% 100%;">
                                            <br><br><br><br><br>
                                            <br><br><br><br><br>
                                        </nb-card-header>
                                        <nb-card-body style="background-color:rgb(92, 187, 242);">
                                            Entreprendre durablement
                                        </nb-card-body>
                                    </nb-card>
                                </nb-card-front>
                                <nb-card-back>
                                    <nb-card accent="info" status="warning">
                                        <nb-card-header>Entreprendre durablement</nb-card-header>
                                        <nb-card-body>
                                            <br>
                                            <h6>Entreprendre de façon durable et socialement responsable dans le respect
                                                des générations futures.</h6><br>
                                        </nb-card-body>
                                    </nb-card>
                                </nb-card-back>
                            </nb-flip-card>
                        </div>
                        <div class="col-lg-3">
                            <nb-flip-card>
                                <nb-card-front>
                                    <nb-card accent="warning" status="info">
                                        <nb-card-header
                                            style="background-image: url('../../../assets/images/2.png'); background-size: 100% 100%;">
                                            <br><br><br><br><br>
                                            <br><br><br><br><br>
                                        </nb-card-header>
                                        <nb-card-body style="background-color:rgb(92, 187, 242);">
                                            Construire un projet ensemble
                                        </nb-card-body>
                                    </nb-card>
                                </nb-card-front>
                                <nb-card-back>
                                    <nb-card accent="warning" status="info">
                                        <nb-card-header>Construire un projet ensemble</nb-card-header>
                                        <nb-card-body>
                                            <br>
                                            <h5>La co-construction est pour nous un moyen d'avancer ensemble.</h5>
                                            <br>
                                        </nb-card-body>
                                    </nb-card>
                                </nb-card-back>
                            </nb-flip-card>
                        </div>
                        <div class="col-lg-3">
                            <nb-flip-card>
                                <nb-card-front>
                                    <nb-card accent="info" status="warning">
                                        <nb-card-header
                                            style="background-image: url('../../../assets/images/3.png'); background-size: 100% 100%;">
                                            <br><br><br><br><br>
                                            <br><br><br><br><br>
                                        </nb-card-header>
                                        <nb-card-body style="background-color:rgb(92, 187, 242);">
                                            La confidentialité des informations
                                        </nb-card-body>
                                    </nb-card>
                                </nb-card-front>
                                <nb-card-back>
                                    <nb-card accent="info" status="warning">
                                        <nb-card-header>La confidentialité des informations</nb-card-header>
                                        <nb-card-body>
                                            <br>
                                            <h5>Travailler ensemble et garantir une totale confidentialité.</h5>
                                            <br>
                                        </nb-card-body>
                                    </nb-card>
                                </nb-card-back>
                            </nb-flip-card>
                        </div>
                        <div class="col-lg-3">
                            <nb-flip-card>
                                <nb-card-front>
                                    <nb-card accent="warning" status="warning">
                                        <nb-card-header
                                            style="background-image: url('../../../assets/images/4.png'); background-size: 100% 100%;">
                                            <br><br><br><br><br>
                                            <br><br><br><br><br>
                                        </nb-card-header>
                                        <nb-card-body style="background-color:rgb(92, 187, 242);">
                                            Entretenir la proximité des acteurs
                                        </nb-card-body>
                                    </nb-card>
                                </nb-card-front>
                                <nb-card-back>
                                    <nb-card accent="warning" status="info">
                                        <nb-card-header>Entretenir la proximité des acteurs</nb-card-header>
                                        <nb-card-body>
                                            <br>
                                            <h5>Disposer d'un réseau de compétences complémentaires</h5>
                                            <br>
                                        </nb-card-body>
                                    </nb-card>
                                </nb-card-back>
                            </nb-flip-card>
                        </div>
                    </section>

                    <div class="col-lg-12">
                        <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
                            <br><br>
                            <h4>Nos <em>atouts</em></h4>
                            <div class="line-dec"></div>
                            <p style="text-align: center;">
                                <br><h6>Des modes d’intervention et des compétences complémentaires et pragmatiques pour
                                s’adapter aux problématiques des entreprises. Notre action s’appuie sur nos:</h6>
                            </p>
                            <br><br>
                        </div>
                    </div>
                    <section class="cluster" style="display: flex; text-align: center;">
                        <div class="col-lg-2">
                            <nb-reveal-card>
                                <nb-card-front>
                                    <nb-card status="info">
                                        <nb-card-header>Réseau</nb-card-header>
                                        <nb-card-body
                                            style="background-image: url('../../../assets/images/reseau.jpg'); background-size: 100% 100%;">
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                        </nb-card-body>
                                    </nb-card>
                                </nb-card-front>
                                <nb-card-back>
                                    <nb-card status="warning">
                                        <nb-card-header>Réseau</nb-card-header>
                                        <nb-card-body>
                                            <b>Un réseau d’appuis diversifié et solide.</b>
                                            <br><br><br><br>
                                        </nb-card-body>
                                    </nb-card>
                                </nb-card-back>
                            </nb-reveal-card>
                        </div>
                        <div class="col-lg-2">
                            <nb-reveal-card>
                                <nb-card-front>
                                    <nb-card status="warning">
                                        <nb-card-header>Equipe</nb-card-header>
                                        <nb-card-body
                                            style="background-image: url('../../../assets/images/equipe.jpg'); background-size: 100% 100%;">
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                        </nb-card-body>
                                    </nb-card>
                                </nb-card-front>
                                <nb-card-back>
                                    <nb-card status="info">
                                        <nb-card-header>Equipe</nb-card-header>
                                        <nb-card-body>
                                            <b>Une équipe complémentaire et expérimentée pour un apport de compétences
                                                pointues et ciblée.</b>
                                        </nb-card-body>
                                    </nb-card>
                                </nb-card-back>
                            </nb-reveal-card>
                        </div>
                        <div class="col-lg-2">
                            <nb-reveal-card>
                                <nb-card-front>
                                    <nb-card status="info">
                                        <nb-card-header>Partenariats</nb-card-header>
                                        <nb-card-body
                                            style="background-image: url('../../../assets/images/partenariat.jpg'); background-size: 100% 100%;">
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                        </nb-card-body>
                                    </nb-card>
                                </nb-card-front>
                                <nb-card-back>
                                    <nb-card status="warning">
                                        <nb-card-header>Partenariats</nb-card-header>
                                        <nb-card-body>
                                            <b>Des partenariats avec des experts nationaux et étrangers.</b>
                                            <br><br><br>
                                        </nb-card-body>
                                    </nb-card>
                                </nb-card-back>
                            </nb-reveal-card>
                        </div>
                        <div class="col-lg-2">
                            <nb-reveal-card>
                                <nb-card-front>
                                    <nb-card status="warning">
                                        <nb-card-header>Esprit</nb-card-header>
                                        <nb-card-body
                                            style="background-image: url('../../../assets/images/esprit.png'); background-size: 100% 100%;">
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                        </nb-card-body>
                                    </nb-card>
                                </nb-card-front>
                                <nb-card-back>
                                    <nb-card status="info">
                                        <nb-card-header>Esprit</nb-card-header>
                                        <nb-card-body>
                                            <b>Un esprit de managers de projet, dynamiques et interactifs impliquant
                                                activement les partenaires.</b>
                                        </nb-card-body>
                                    </nb-card>
                                </nb-card-back>
                            </nb-reveal-card>
                        </div>
                        <div class="col-lg-2">
                            <nb-reveal-card>
                                <nb-card-front>
                                    <nb-card status="info">
                                        <nb-card-header>Services</nb-card-header>
                                        <nb-card-body
                                            style="background-image: url('../../../assets/images/service.avif'); background-size: 100% 100%;">
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                        </nb-card-body>
                                    </nb-card>
                                </nb-card-front>
                                <nb-card-back>
                                    <nb-card status="warning">
                                        <nb-card-header>Services</nb-card-header>
                                        <nb-card-body>
                                            <b>Des services porteurs de valeur ajoutée et surtout adaptés aux besoins de
                                                nos partenaires.</b>
                                        </nb-card-body>
                                    </nb-card>
                                </nb-card-back>
                            </nb-reveal-card>
                        </div>
                        <div class="col-lg-2">
                            <nb-reveal-card>
                                <nb-card-front>
                                    <nb-card status="warning">
                                        <nb-card-header>Méthodes</nb-card-header>
                                        <nb-card-body
                                            style="background-image: url('../../../assets/images/methodes.png'); background-size: 100% 100%;">
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                        </nb-card-body>
                                    </nb-card>
                                </nb-card-front>
                                <nb-card-back>
                                    <nb-card status="info">
                                        <nb-card-header>Méthodes</nb-card-header>
                                        <nb-card-body>
                                            <b>Des méthodes de travail éprouvées, adaptées au contexte de chaque
                                                client.</b><br><br>
                                        </nb-card-body>
                                    </nb-card>
                                </nb-card-back>
                            </nb-reveal-card>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>
</div>