<!-- SIDEBAR -->
<section id="sidebar" [ngClass]="status ? 'hide' : ''">
  <a class="brand" style="padding-top: 20px; padding-left: 20px;">
    <img src="../../../assets/images/transparent-logo small.png" style="width: 100px;" alt="logo">
  </a>
  <ul class="side-menu top">
    <li class="active">
      <a href="/admin">
        <i class='bx bxs-dashboard'></i>
        <span class="text">Dashboard</span>
      </a>
    </li>
    <li>
      <button style="border: none;">
        <a (click)="openServiceDialog('1000ms', '500ms')">
          <i class='bx bxs-shopping-bag-alt'></i>
          <span class="text">Ajouter un service</span>
        </a>
      </button>
    </li>
    <!--<li>
      <a (click)="openSubServiceDialog('1000ms', '500ms')">
        <i class='bx bxs-doughnut-chart'></i>
        <span class="text">Ajouter un sous-service</span>
      </a>
    </li>-->
    <li>
      <button style="border: none;">
        <a (click)="openGalerieDialog('1000ms', '500ms')">
          <i class='bx bxs-message-dots'></i>
          <span class="text">Ajouter un événement</span>
        </a>
      </button>
    </li>
    <li>
      <button style="border: none;">
        <a (click)="openReferenceDialog('1000ms', '500ms')">
          <i class='bx bxs-group'></i>
          <span class="text">Ajouter un référence</span>
        </a>
      </button>
    </li>
  </ul>
  <ul class="side-menu">
    <li>
      <button style="border: none;">
        <a (click)="logout()" class="logout">
          <i class='bx bxs-log-out-circle'></i>
          <span class="text">Logout</span>
        </a>
      </button>
    </li>
  </ul>
</section>
<!-- CONTENT -->
<section id="content">
  <!-- NAVBAR -->
  <nav style="display: flex; justify-content: space-between;">
    <nav>
      <i (click)="addToggle()" class='bx bx-menu'></i>
      <a class="nav-link">Administration</a>
    </nav>
    <nav>
      <a class="profile">
        <img src="../../../assets/images/transparent-logo small.png">
      </a>
    </nav>
  </nav>
  <!-- MAIN -->
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Dashboard</h1>
        <ul class="breadcrumb">
          <li>
            <a>Dashboard</a>
          </li>
          <li><i class='bx bx-chevron-right'></i></li>
          <li>
            <a class="active">Home</a>
          </li>
        </ul>
      </div>
      <button style="border: none;">
        <a (click)="logout()" class="btn-download">
          <i class='bx bxs-log-out-circle'></i>
          <span class="text">Logout</span>
        </a>
      </button>
    </div>
    <!--statistics-->
    <div class="container">
      <div class="row ">
        <div class="col-xl-6 col-lg-6" *ngFor="let stat of statistics">
          <div class="card l-bg-blue-dark">
            <div class="card-statistic-3 p-4">
              <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
              <div class="mb-4">
                <h6 class="card-title mb-0" style="color: whitesmoke;">{{stat.title}}</h6>
              </div>
              <div class="row align-items-center mb-2 d-flex">
                <div class="col-8">
                  <h2 class="d-flex align-items-center mb-0" style="color: whitesmoke;">{{stat.statistic}}</h2>
                </div>
              </div>
              <div style="display: flex;">
                <button (click)="editStatisticDialoge(stat, '1000ms', '500ms')" type="button" class="btn btn-outline-success" style="width: 50%; margin-left: 5px;"><i class="fa fa-trash"></i> Update</button>
                <button (click)="onDeleteStatistic(stat._id)" type="button" class="btn btn-outline-danger" style="width: 50%; margin-left: 5px;"><i class="fa fa-edit"></i> Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <nb-layout>
      <nb-layout-column>

        <!--notifications-->
        <div class="table-data">
          <div class="order">
            <div class="head">
              <h3>Notifications:</h3>
              <i class='bx bx-filter'></i>
            </div>
            <ng-container *ngIf="demandeDevis.length === 0">
              <p style="color: rgb(255, 85, 0);">No message exist!</p>
            </ng-container>
            <div style="display: flex;">
              <div class="mat-elevation-z8" style="flex: 1; margin-right: 20px;">
                <h6>Demande de Devis:</h6>
                <ng-container *ngFor="let demandeDevis of demandeDevis">
                  <nb-alert *ngIf="!demandeDevis.name" status="success" closable
                    (close)="onDeleteDevis(demandeDevis._id)">
                    {{demandeDevis.email}} <small style="color: rgba(245, 245, 245, 0.721);">vous a envoyé une demande
                      de devis:</small> {{demandeDevis.subject}}
                  </nb-alert>
                </ng-container>
              </div>
              <div class="mat-elevation-z8" style="flex: 1;">
                <h6>Messages de Contact:</h6>
                <ng-container *ngFor="let contact of contact">
                  <nb-alert *ngIf="contact.name" status="info" closable (close)="onDeleteContact(contact._id)">
                    {{contact.name}}::{{contact.email}} <small style="color: rgba(245, 245, 245, 0.721);">vous a envoyé
                      un message pour: </small>{{contact.subject}}.: <br>{{contact.message}}
                  </nb-alert>
                </ng-container>
              </div>
            </div>
          </div>
        </div>

        <!--services and subServices-->
        <div class="table-data">
          <div class="order">
            <div class="head">
              <h3>Services & Sub-Services:</h3>
              <i class='bx bx-filter'></i>
            </div>

            <div class="mat-elevation-z8" *ngFor="let service of services">
              <mat-list>
                <mat-list-item>
                  <span matListItemTitle>
                    <b> {{service.title}}</b> : {{service.description}}
                    <br>
                    <img src={{service.imageUrl}} alt="" style="height: 100px; width: 100px;">
                    <!--<button (click)="getSubServices(service._id)">subServices</button> -->
                  </span>
                  <span matListItemLine>{{service.subService1}}</span>
                  <span matListItemLine>{{service.subService2}}</span>
                  <span matListItemLine>{{service.subService3}}</span>
                  <span matListItemLine>{{service.subService4}}</span>
                  <span matListItemLine>{{service.subService5}}</span>
                  <span matListItemLine>{{service.subService6}}</span>
                </mat-list-item>
              </mat-list>
              <div style="display: flex;">
                <button type="button" class="btn btn-outline-success" style="width: 50%; margin-left: 5px;"
                  (click)="editServiceDialoge(service, '1000ms', '500ms')"><i class="fa fa-trash"></i> Update</button>
                <button type="button" class="btn btn-outline-danger" style="width: 50%; margin-left: 5px;"
                  (click)="onDeleteService(service._id)"><i class="fa fa-edit"></i> Delete</button>
              </div>
            </div>
          </div>
        </div>

        <!--references table-->
        <div class="table-data">
          <div class="order">
            <div class="head">
              <h3>Références:</h3>
              <i class='bx bx-filter'></i>
            </div>
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="references">

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> Id. </th>
                  <td mat-cell *matCellDef="let ref of references"> {{ref._id}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let ref of references"> {{ref.title}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                  <th mat-header-cell *matHeaderCellDef> Descriprion </th>
                  <td mat-cell *matCellDef="let ref of references"> {{ref.description}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef> Logo </th>
                  <td mat-cell *matCellDef="let ref of references"><img src="{{ref.imageUrl}}" alt=""></td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Action </th>
                  <td mat-cell *matCellDef="let ref of references"
                    style="display: flex; justify-content: space-between;">
                    <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip"
                      data-placement="top" title="Edit" (click)="editRefDialoge(ref, '1000ms', '500ms')"><i
                        class="fa fa-edit"></i></button>
                    <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip"
                      data-placement="top" title="Delete" (click)="onDeleteRef(ref._id)"><i
                        class="fa fa-trash"></i></button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
              </mat-paginator>
            </div>
          </div>
        </div>

        <!--galerie table-->
        <div class="table-data">
          <div class="order">
            <div class="head">
              <h3>Galerie:</h3>
              <i class='bx bx-filter'></i>
            </div>
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="galerie">

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let galerie of galerie"> {{galerie.title}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Descriprion </th>
                  <td mat-cell *matCellDef="let galerie of galerie"> {{galerie.description}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                  <th mat-header-cell *matHeaderCellDef> Video link </th>
                  <td mat-cell *matCellDef="let galerie of galerie"> {{galerie.videoUrl}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef> Logo </th>
                  <td mat-cell *matCellDef="let galerie of galerie"><img src="{{galerie.imageUrl}}" alt=""></td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Action </th>
                  <td mat-cell *matCellDef="let galerie of galerie"
                    style="display: flex; justify-content: space-between;">
                    <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip"
                      data-placement="top" title="Edit" (click)="editGalerieDialoge(galerie, '1000ms', '500ms')"><i
                        class="fa fa-edit"></i></button>
                    <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip"
                      data-placement="top" title="Delete" (click)="onDeletegalerie(galerie._id)"><i
                        class="fa fa-trash"></i></button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

              <mat-paginator #galeriePaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
              </mat-paginator>

            </div>
          </div>
        </div>

      </nb-layout-column>
    </nb-layout>


  </main>
  <!-- MAIN -->
</section>
<!-- CONTENT -->