<!-- Pre-header Starts -->
<div class="pre-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8 col-7">
          <ul class="info">
            <li><a href="#"><i class="fa fa-envelope"></i>manager@d3skills.ma</a></li>
            <li><a href="#"><i class="fa fa-phone"></i>0629928778 / 0539341632</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-sm-4 col-5">
          <ul class="social-media">
            <li><a href="https://www.facebook.com/d3skills/"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.linkedin.com/company/d3-skills/"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <!--<li><a href="#"><i class="fa fa-dribbble"></i></a></li>-->
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Pre-header End -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" [ngClass]="{'fixed-header': isFixed}">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <a href="#" class="logo">
              <img style="height: 100px; width: 150px;" src="assets/images/transparent-logo small.png" alt="">
            </a>
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a style="color: orange;" href="#Accueil">Accueil</a></li>
              <li class="scroll-to-section"><a style="color: orange;" href="#A Propos">A Propos</a></li>
              <li class="scroll-to-section"><a style="color: orange;" href="#Services">Services</a></li>
              <li class="scroll-to-section"><a style="color: orange;" href="#References">References</a></li>
              <li class="scroll-to-section"><a style="color: orange;" href="#Galerie">Galerie</a></li>
              <li class="scroll-to-section"><a style="color: orange;" href="#Contact">Contact</a></li>
              <li class="scroll-to-section">
                <div class="border-first-button"><a href="/auth">Plus d'information</a></div>
              </li>
            </ul>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

